---
import Card from '../components/Card';
import Subtitle from '../components/Subtitle';
import Text from '../components/Text';
import WsapBtn from '../components/WsapBtn';
import Layout from '../layouts/Layout.astro';
import { Servicios } from '../mock/Servicios';
import { homeText } from '../mock/textViews/homeText';

---

<Layout title={homeText.metaTitle} content={homeText.metaContent}>
    <main class="bg-COLOR1">
        <!-- Primera sección (título, h3 y boton whatsapp con fondo imagen) -->
        <section class="w-full mx-auto my-8 px-4 py-8 md:w-11/12 xl:w-10/12 border-2 border-t-0 border-b-0 border-double border-COLOR1 bg-white flex flex-col justify-center items-center" >
			<section class="w-full my-8 px-8 md:px-12 xl:px-20 py-8 " style={{ backgroundImage: `url(${homeText.homeFirstImg})`, backgroundSize: 'cover', backgroundPosition: 'center' }}>

				<div class="bg-black/60 p-4 md:p-8 xl:p-12 mt-4 md:mt-6 xl:mt-8 rounded-md">
	
					<h1 class="text-center text-lg md:text-xl xl:text-2xl font-heading uppercase text-CBACKGROUND font-bold animate-fadeInUp" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
						{homeText.homeTitle}
					</h1>
					<h3 class="text-center animate-slideUp mt-4 md:mt-6 xl:mt-10 mb-4 md:mb-8 xl:mb-12 text-white">{homeText.homeFirstText}</p>
					<!-- Boton que te lleva al whatsapp con un mensaje ya definido o el que se quiera mandar -->
					<WsapBtn newMessage={''} client:visible>  
						<h3 class="my-4 md:my-8 xl:my-12 text-CBACKGROUND hover:cursor-pointer bg-COLOR2 hover:bg-COLOR1 w-[200px] md:w-[220px] xl:w-[240px] h-[40px] md:h-[45px] xl:h-[50px] flex self-center text-center justify-center items-center m-auto rounded-md">{homeText.TextFirstButton}</h3>
					</WsapBtn>
				</div>
			</section>
			
			<Subtitle name={homeText.Subtitle1} textColor='COLOR3' client:visible/>
			
			<!-- card servicios y link servicios-->
			<div class="flex flex-wrap justify-center w-full gap-4 md:gap-6 ">

				{Servicios.map((servicio, index) => (
					<Card 
					key={index}  
					name={servicio.name} 
					text={servicio.text} 
					img={servicio.img} 
					url={servicio.url} 
					bgColor={servicio.bgColor} 
					bgNameColor={servicio.bgNameColor}  
					textColor={servicio.textColor}  
					textButton="" 
					description=""
					client:visible
					/>
				))}
			</div>

			<!-- final inicio -->
			<Text text={homeText.homeSecondText} textColor='COLOR3' client:visible/>
			<p class="text-black/60 text-star font-extralight mb-4 md:mb-8 xl:mb-12 text-${textColor} md:max-w-[70vw] md:text-center text-xs md:text-sm xl:text-base">{homeText.home3Text}</p>
			
        </section>
    </main>
</Layout>


